<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fresh Vegetables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let product of items[0].products">
      <ion-col size="4">
          <ion-thumbnail class="bigthumb">
              <img src="/assets/{{product.image}}">
          </ion-thumbnail>
      </ion-col>
      <ion-col size="8">
          <ion-label>
              <h2>{{ product.name }}</h2>
                <!--<ion-select class="wrapper-dropdown">
                    <ion-select-option *ngFor="let atr of items[0].products[product.id].attributes">{{atr.attr}} {{atr.price}}</ion-select-option>
                </ion-select>-->
              <p *ngFor="let atr of items[0].products[product.id].attributes">1 Kg</p>
              <p>MRP: <s>Rs. {{product.mrp}}</s></p>
              <h2><b>MSP: Rs. {{ product.msp }}</b></h2>
              <div *ngIf="isOn">
                <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                  <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                </ion-button>
                <span class="qty">{{count}}</span>
                <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </div>
              <div *ngIf="!isOn">
                <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                  <ion-icon slot="start" name="add-circle"></ion-icon>
                  ADD
                </ion-button>
              </div>
            </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
        <ion-button expand="full" size="default" color="success" [routerLink]="['/cart']">
            <ion-icon slot="start" name="cart"></ion-icon>
            View Cart
        </ion-button>
</ion-footer>