.bigthumb
{
    min-height: 100px !important;
    min-width: 100px !important;
}
.qty
{
    font-size: 16px;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    padding: 0px 5px 0px 5px;
}
.wrapper-dropdown {
    min-width: 90%;
    padding: 5px;
    margin: 5px 0px 5px 2px;
    outline: 1px solid #eee;
}
.item-cover {
    width: 0 !important;
    height: 0 !important;
    }