<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fresh Vegetables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-thumbnail slot="start" class="bigthumb">
              <img src="/assets/potato.jpg">
          </ion-thumbnail>          
          <ion-label>
            <h2>Potato/Batata/Aloo</h2>
              <ion-select class="wrapper-dropdown">
                  <ion-select-option selected>1 Kg</ion-select-option>
                  <ion-select-option>2 Kg</ion-select-option>
                  <ion-select-option>5 Kg</ion-select-option>
              </ion-select>
            <p>MRP: <s>Rs. 30</s></p>
            <h2><b>MSP: Rs. 28</b></h2>
            <div *ngIf="isOn">
              <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
              </ion-button>
              <span class="qty">{{count}}</span>
              <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </div>
            <div *ngIf="!isOn">
              <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                <ion-icon slot="start" name="add-circle"></ion-icon>
                ADD
              </ion-button>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
            <ion-thumbnail slot="start" class="bigthumb">
                <img src="/assets/onion.jpg">
            </ion-thumbnail>
            <ion-label>
                <h2>Potato/Batata/Aloo</h2>
                  <ion-select class="wrapper-dropdown">
                      <ion-select-option selected>1 Kg</ion-select-option>
                      <ion-select-option>2 Kg</ion-select-option>
                      <ion-select-option>5 Kg</ion-select-option>
                  </ion-select>
                <p>MRP: <s>Rs. 30</s></p>
                <h2><b>MSP: Rs. 28</b></h2>
                <div *ngIf="isOn">
                  <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                  <span class="qty">{{count}}</span>
                  <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                  </ion-button>
                </div>
                <div *ngIf="!isOn">
                  <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                    <ion-icon slot="start" name="add-circle"></ion-icon>
                    ADD
                  </ion-button>
                </div>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-thumbnail slot="start" class="bigthumb">
                  <img src="/assets/flower.jpg">
              </ion-thumbnail>
              <ion-label>
                  <h2>Potato/Batata/Aloo</h2>
                    <ion-select class="wrapper-dropdown">
                        <ion-select-option selected>1 Kg</ion-select-option>
                        <ion-select-option>2 Kg</ion-select-option>
                        <ion-select-option>5 Kg</ion-select-option>
                    </ion-select>
                  <p>MRP: <s>Rs. 30</s></p>
                  <h2><b>MSP: Rs. 28</b></h2>
                  <div *ngIf="isOn">
                    <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                      <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                    </ion-button>
                    <span class="qty">{{count}}</span>
                    <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </ion-button>
                  </div>
                  <div *ngIf="!isOn">
                    <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                      <ion-icon slot="start" name="add-circle"></ion-icon>
                      ADD
                    </ion-button>
                  </div>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-thumbnail slot="start" class="bigthumb">
                    <img src="/assets/cabbage.jpg">
                </ion-thumbnail>
                <ion-label>
                    <h2>Potato/Batata/Aloo</h2>
                      <ion-select class="wrapper-dropdown">
                          <ion-select-option selected>1 Kg</ion-select-option>
                          <ion-select-option>2 Kg</ion-select-option>
                          <ion-select-option>5 Kg</ion-select-option>
                      </ion-select>
                    <p>MRP: <s>Rs. 30</s></p>
                    <h2><b>MSP: Rs. 28</b></h2>
                    <div *ngIf="isOn">
                      <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                      </ion-button>
                      <span class="qty">{{count}}</span>
                      <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                      </ion-button>
                    </div>
                    <div *ngIf="!isOn">
                      <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                        <ion-icon slot="start" name="add-circle"></ion-icon>
                        ADD
                      </ion-button>
                    </div>
                  </ion-label>
              </ion-item>
              <ion-item>
                  <ion-thumbnail slot="start" class="bigthumb">
                      <img src="/assets/capsicum.jpg">
                  </ion-thumbnail>
                  <ion-label>
                      <h2>Potato/Batata/Aloo</h2>
                        <ion-select class="wrapper-dropdown">
                            <ion-select-option selected>1 Kg</ion-select-option>
                            <ion-select-option>2 Kg</ion-select-option>
                            <ion-select-option>5 Kg</ion-select-option>
                        </ion-select>
                      <p>MRP: <s>Rs. 30</s></p>
                      <h2><b>MSP: Rs. 28</b></h2>
                      <div *ngIf="isOn">
                        <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                        <span class="qty">{{count}}</span>
                        <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </div>
                      <div *ngIf="!isOn">
                        <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                          <ion-icon slot="start" name="add-circle"></ion-icon>
                          ADD
                        </ion-button>
                      </div>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start" class="bigthumb">
                        <img src="/assets/karela.jpg">
                    </ion-thumbnail>
                    <ion-label>
                        <h2>Potato/Batata/Aloo</h2>
                          <ion-select class="wrapper-dropdown">
                              <ion-select-option selected>1 Kg</ion-select-option>
                              <ion-select-option>2 Kg</ion-select-option>
                              <ion-select-option>5 Kg</ion-select-option>
                          </ion-select>
                        <p>MRP: <s>Rs. 30</s></p>
                        <h2><b>MSP: Rs. 28</b></h2>
                        <div *ngIf="isOn">
                          <ion-button color="success" size="default" icon-only fill="outline" (click)="decrementCnt()">
                            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                          </ion-button>
                          <span class="qty">{{count}}</span>
                          <ion-button color="success" size="default" icon-only fill="outline" (click)="incrementCnt()">
                            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                          </ion-button>
                        </div>
                        <div *ngIf="!isOn">
                          <ion-button color="success" size="default" fill="outline" (click)="incrementCnt()">
                            <ion-icon slot="start" name="add-circle"></ion-icon>
                            ADD
                          </ion-button>
                        </div>
                      </ion-label>
                  </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
        <ion-button expand="full" size="default" color="success" [routerLink]="['/cart']">
            <ion-icon slot="start" name="cart"></ion-icon>
            View Cart
          </ion-button>
</ion-footer>