.bigthumb
{
    min-height: 100px !important;
    min-width: 100px !important;
}
.qty
{
    font-size: 16px;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    padding: 0px 5px 0px 5px;
}