<ion-content padding>
    <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input type="text" placeholder="Enter full name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Mobile Number</ion-label>
        <ion-input type="number" placeholder="Enter mobile number"></ion-input>
    </ion-item>
    <ion-button expand="full" size="large" color="primary" [routerLink]="['/signup3']">
      <!-- <ion-icon slot="end" name="fastforward"></ion-icon> -->
      Continue
    </ion-button>
</ion-content>
