<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        My Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
<ion-label>Anilkumar Vishwakarma</ion-label>
<p>+91-8454010016</p>

<ion-label>Address</ion-label>
<p>B1-701, 10 Elite Residency, Kathepuram Chowk, Pimple Gurav, Pune - 411061</p>

<ion-label>Society</ion-label>
<p>10 Elite Residency</p>

<ion-label>Chairman</ion-label>
<p>Sudhir Chaudhary</p>
</ion-content>
