<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      10 Elite Residency
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs #myTabs>
        <ion-tab tab="home">
          <ion-card class="welcome-card" [routerLink]="['/categorydetails']">
            <ion-card-header>
              <ion-card-title>Fresh Vegetables</ion-card-title>
            </ion-card-header>
            <ion-img src="/assets/vegies.jpg"></ion-img>
            </ion-card>
      
           <ion-card class="welcome-card" [routerLink]="['/categorydetails']">
            <ion-card-header>
              <ion-card-title>Foodgrains</ion-card-title>
            </ion-card-header>
            <ion-img src="/assets/grains.jpg"></ion-img>
            </ion-card>
        </ion-tab>
        <ion-tab tab="offers">
            <ion-card class="welcome-card">
                <ion-img src="/assets/banner1.jpg"></ion-img>
            </ion-card>
        
             <ion-card class="welcome-card">
                 <ion-img src="/assets/banner2.png"></ion-img>
             </ion-card>
        </ion-tab>
        <ion-tab tab="cart">
            
        </ion-tab>
        
        <!-- Tab Buttons -->
        <ion-tab-bar slot="bottom" selected-tab="home">
          
          <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="offers">
              <ion-label>Offers</ion-label>
              <ion-icon name="pricetags"></ion-icon>
            </ion-tab-button>
      
          <ion-tab-button tab="cart" [routerLink]="['/cart']">
            <ion-label>Cart</ion-label>
            <ion-icon name="cart"></ion-icon>
            <ion-badge color="danger">2</ion-badge>
          </ion-tab-button>

        </ion-tab-bar>
        <!-- Tab Buttons End -->

      </ion-tabs>
</ion-content>
